In [10]:
import pandas as pd
import json

train_csv  = pd.read_csv("./kinetics400/train.csv")

In [12]:
train_csv.head()

                  label   youtube_id  time_start  time_end  split
0            testifying  ---QUuC4vJs          84        94  train
1      eating spaghetti  --3ouPhoy2A          20        30  train
2  dribbling basketball  --4-0ihtnBU          58        68  train
3        playing tennis  --56QUhyDQM         185       195  train
4           tap dancing  --6q_33gNew         132       142  train